.logo-beta {
	background-color: #55beaf;
}

// ------------------- Work Description

.work-description {
	// background: url('../img/work/description-cabeta.jpg') no-repeat;
	// background-size: cover;
	// position: relative;
}
.description-container {
	background: url('../img/work/description-cabeta.jpg') no-repeat;
	background-size: cover;
	padding: 10% 25% 8% 8%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6em;
	@include breakpoint($breakpoint-tablet) {
		padding: 14% 8% 7% 8%
	}
	h1 {
		font-family: "Walsheim", Arial, sans-serif;
		font-weight: normal;
		margin: 0 0 4.5% -3px;
		line-height: 0;
		padding: 0;
		@include breakpoint($breakpoint-mobile) {
			margin: 0 0 6% -3px;
		}
	} 
	h2 {
		// font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.15em;
		color: white;
	}
	h3 {
		// font-size: 2.2em;
		font-weight: normal;
		line-height: 1.4em;
	}
	div {
		width: 19px;
		height: 2px;
		background: black;
		opacity: 0.1;
	}		
	span {
		// font-size: 1.6em;
		opacity: 0.5;
	}
}

// ------------------- Hero

.work-hero {
	padding: 7% 4% 4% 4%;
	background: #f8f8f8;
	img {
		width: 100%;
		height: auto;
	}
}

















