// ------------------- Header

.header {
	position: relative;
	.ratio {
		padding-top: 16.6666667%;
	}
	.content {
		@include content;
	}

}

nav.menu div {
	margin-left: 20%;
	top: auto;
	bottom: 0;
 	height: 100%;
 	@include display(flex);
	@include align-items(center);
	text-align: center;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	a {
		color: $charc;
		text-decoration: none;
		@include transition (opacity 0.15s ease-in-out);
		&:hover {
			border-bottom: 0px;
			opacity: 0.6;
		}
	}
}
nav.menu div > span {
	float: left;
	padding-right: 7%;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}
nav.menu:hover div,
nav.menu:hover div > span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
nav.menu:hover div > span:nth-child(1) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
nav.menu:hover div > span:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
nav.menu:hover div > span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.navigation {
	@include col(9/12);
	@include breakpoint($breakpoint-mobile) {
		@include col(10/12);
	} 
	.menu {
		height: 50%;
		width: 100%;
		background: #f8f8f8 url('../img/menu.svg') no-repeat;
		background-size: 26px 21px;
		background-position: 11.5% 50%;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: inline-block;
		@include transition (height 0.35s ease-in, background 0.15s ease-in-out);
		&:hover {
			background: #eaeaea url('../img/menu.svg') no-repeat;
			background-size: 26px 21px;
			background-position: 11.5% 50%;
		}
		@include breakpoint($breakpoint-mobile) {
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
			height: 100%;
		}
	}
	.page-ui {
		height: 50%;
		width: 66%;
		margin-left: 11.1111111%;
		text-align: left;
		font-size: 1.6em;
		color: $charc;
		float: left;
		@include transition (top 0.5s ease-in);
		@include display(flex);
		@include align-items(center);
		font-family: 'Walsheim', sans-serif;
		-webkit-font-smoothing: antialiased;
		@include breakpoint($breakpoint-mobile) {
			top: 50%;
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
	}
	.project-ui {
		float: left;
		width: 11.1111111%;
		height: 50%;
		border-left: 1px solid #ededed;
		position: relative;
		cursor: pointer;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		font-size: 2.4em;
		color: $charc;
		span {
			@include transition (opacity 0.15s ease-in-out);
		}
		&:hover span{
			opacity: 0.5;
		}
	}
}
.logo {
	@include col(3/12);
	height: 100%;
	background: 
		url('../img/logo.svg') no-repeat,
		url('../img/logo.svg') no-repeat;
	background-size: 20%, 20%;
	background-position: 50% 50%, 50% 200%;
	cursor: pointer;
	@include transition (background-position 0.33s);
	@include transition-timing-function (cubic-bezier(.9,0,.09,1));
	@include breakpoint($breakpoint-mobile) {
		@include col(2/12);
		background-size: 50%;
	}
	&:hover {
		background-position: 50% -200%, 50% 50%;
	}
}

.logo-beta {
	background-color: #55beaf;
}

.logo-about {
	background-color: $pink;
}

// ------------------- Work Description

.work-description {
	// background: url('../img/work/description-cabeta.jpg') no-repeat;
	// background-size: cover;
	// position: relative;
}
.description-container {
	background: url('../img/work/description-cabeta.jpg') no-repeat;
	background-size: cover;
	padding: 10% 25% 8% 8%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6em;
	@include breakpoint($breakpoint-tablet) {
		padding: 14% 8% 7% 8%
	}
	h1 {
		font-family: "Walsheim", Arial, sans-serif;
		font-weight: normal;
		margin: 0 0 4.5% -3px;
		line-height: 0;
		padding: 0;
		@include breakpoint($breakpoint-mobile) {
			margin: 0 0 6% -3px;
		}
	} 
	h2 {
		// font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.15em;
		color: white;
	}
	h3 {
		// font-size: 2.2em;
		font-weight: normal;
		line-height: 1.4em;
	}
	div {
		width: 19px;
		height: 2px;
		background: black;
		opacity: 0.1;
	}		
	span {
		// font-size: 1.6em;
		opacity: 0.5;
	}
}

// ------------------- Hero

.work-hero {
	padding: 7% 4% 4% 4%;
	background: #f8f8f8;
	img {
		width: 100%;
		height: auto;
	}
}

















